<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <ul class="nav nav-pills nav-justified">
            <li class="white"><a href="#home">Home</a></li>
            <li class="blonde"><a href="#blonde">Mr. Blonde</a></li>
            <li class="brown"><a href="#brown">Mr. Brown</a></li>
            <li class="white"><a href="#white">Mr. White</a></li>
            <li class="orange"><a href="#orange">Mr. Orange</a></li>
            <li class="pink"><a href="#pink">Mr. Pink</a></li>

        </ul>
    </div>
</div>
