

<div  class="container orange">
  <label ng-hide="name" for="nameChanger">Code Name</label>
  <label ng-show="name" for="nameChanger">Real Name</label>
  <input name="nameChanger"type="checkbox" ng-model="name">
  <h2 ng-hide="name">{{orange.title}}</h2>
  <h2 ng-show="name">{{orange.realName}}</h2>
  <img class="mrImage" src="{{orange.image}}" />
  <p>{{orange.bio}}</p>
  <label for="quote">Show Quote</label>
  <input name="quote" type="checkbox" ng-model="showQuote" ng-init="showQuote = false">
</div>

<div ng-if="showQuote" class ="quotes">
  <h4 >{{orange.quote}}</h4>
</div>
